#product_composition {
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#product_name {
    height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#navbar-profile {
    position: relative;
    padding-left: 50px;
}

#navbar-profile-avatar {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

#dropdown-menu-profile {
    width: 176px;
}

#profile-avatar {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#avatar-upload-form {
    display: none;
}

#avatar-upload {
    width: 300px;
    float: left;
}

#form-upload-btn {
    float: left;
    margin-left: 5px;
}

#error-label {
    display: none;
}

#cart-prod-params {
    width: 90px;
    margin-bottom: 0;
}

#cart-price {
    margin-bottom: 0px;
}

#cart-count {
    padding-right: 0;
}

#cart-label {
    margin-top: 10px;
}